{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Каталог</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
            <a href="/"><img src="{% static 'img/logo.jpg' %}" alt="KoVa"></a>
            </div>
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'catalog' %}">Каталог</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>   
        </div>   
    <hr>
    <div class="main_area"> 
        <h2>Каталог</h2>
        <div class="product_catalog">
            <ul>
                <li>
                    <a href="box.html">
                        <img src="static/img/box.jpg"
                            alt="Коробка"
                            ><br>
                        Коробка</a><br>
                </li>
                <li><a href="mirrow.html">
                        <img src="static/img/mirrow.jpg"
                            alt="Зеркало"
                            ><br>
                        Зеркало</a><br>
                        </li>
            </ul>  
        </div>
    </div>
    <hr>
        <div class="footer">
            <p> <i>Все права защищены. &copy;</i></p>
        </div>
    
    </div>
    
</body>
</html>