<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Контакты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
            <a href="/"><img src="static/img/logo.jpg" alt="KoVa"></a>
            </div>
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>   
        </div>
    <hr>
    <div class="main_area"> 
        <h2>Напишите нам</h2>
        <form action="#">
            <ul>
               <li>
                <div class="input_box">
                    <b>Ваше имя:</b><input ​type​="text" placeholder="Ваше имя"> 
                </div>
                </li>
               <li class="email"><b>Email: </b><input ​ type​="email"​ placeholder="email"></li>
               <li><b>Тема: </b><input ​ type​="text"​ placeholder="Тема письма"></li>
               <li><b>Текст сообщения: </b><input ​type​="text" placeholder="Текст сообщения"></li>
            </ul>
            <button type="submit">Отправить</button>
            <button type="reset">Очистить</button>
        
        </form>
    
        <h2>Адрес</h2>
        <ul>
            <li><b>Телефон:</b> 495-123-45-67</li>
            <li><b>Адрес:</b>г.Москва, Кремль</li>
            <li><b>email:</b>example@corp.com</li>
            
        </ul>
        <script type="text/javascript" charset="utf-8" 
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A053bd947d462cc1a45aeba4070defff75501905071c0eaf68436ac9976ec698c&amp;width=300&amp;height=250">
        </script>
    </div>
    <hr>
        <div class="footer">
            <p> <i>Все права защищены. &copy;</i><br></p>
        </div>
    
    </div>
</body>
</html>