<h2>Зеркало</h2>
    <div class="product_short_information">
        <div class="product_short_information_image">
            <a class="product_page_img" href="img/mirrow.jpg" target="_blank"><img src="static/img/mirrow.jpg" alt="Зеркало" height="300"></a>
        </div>
        <div class="product_short_information_text">
            <h3 class="product_page_heading">Описание товара:</h3>
            <p  class="product_page_short_text">Зеркало используется как зеркало, а еще красивое.</p>
            <div class="button_buy">
                <button type="button_buy">Купить</button>
            </div>
        </div>
    </div>
        <h3 class="product_page_heading">Характеристики товара</h3>
        <ul class="product_page_characters">
            <li>Размер 50 * 50 см.</li>
            <li>Материал:  дерево + стекло.</li>
        </ul>
        <h3 class="product_page_heading">Подробное описание товара</h3>
        <p class="product_page_full_text">Зеркало создано вручную по уникальной технологии из натуральных материалов.<br>
            Отлично впишется в интерьер, где уже есть некоторое количество винтажных элементов.<br>
            <b>Не рекомендуется использовать в помещениях с высоким уровнем влажности.</b> </p>
