{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href=" {% static 'css/main.css' %}" >
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
            <a href="/"><img src="{% static 'img/logo.jpg' %}" alt="KoVa"></a>
            </div>
            {% include 'includes/menu.html' %}
        </div>
        <hr>
        <div class="main_area">
            {% block page_content %}{% endblock %}
        </div>
        <hr>
        <div class="footer">
            <p><i>Все права защищены. &copy;</i></p>
        </div>

    </div>


</body>
</html>