{% extends 'mainapp/base.html' %}


{% load static %}


{% block page_title %}
Каталог
{% endblock %}

{% block page_content %}
<h2>Каталог</h2>

<div class="product_catalog">



            <ul>
                {% for itm in results %}

                <li>
                     <a href="{% url 'detail' pk=itm.id %}">
                        <img src="/media/{{ itm.image }}"
                            alt="{{ itm.title }}"
                            ><br>
                        {{ itm.title }}</a><br>
                </li>
                {% endfor %}

            </ul>
        </div>

{% endblock %}