{% extends 'mainapp/base.html' %}


{% load static %}


{% block page_title %}
Контакты
{% endblock %}

{% block page_content %}
<h2>Напишите нам</h2>
        <form action="#">
            <ul>
               <li>
                <div class="input_box">
                    <b>Ваше имя:</b><input ​type​="text" placeholder="Ваше имя">
                </div>
                </li>
               <li class="email"><b>Email: </b><input ​ type​="email"​ placeholder="email"></li>
               <li><b>Тема: </b><input ​ type​="text"​ placeholder="Тема письма"></li>
               <li><b>Текст сообщения: </b><input ​type​="text" placeholder="Текст сообщения"></li>
            </ul>
            <button type="submit">Отправить</button>
            <button type="reset">Очистить</button>

        </form>

        <h2>Адрес</h2>
        <ul>
            <li><b>Телефон:</b> 495-123-45-67</li>
            <li><b>Адрес:</b>г.Москва, Кремль</li>
            <li><b>email:</b>example@corp.com</li>

        </ul>
        <script type="text/javascript" charset="utf-8"
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A053bd947d462cc1a45aeba4070defff75501905071c0eaf68436ac9976ec698c&amp;width=300&amp;height=250">
        </script>
{% endblock %}

